
/public/storage
/.fleet
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/debugbar
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.idea
.vscode
Thumbs.db
.DS_Store
